
<body>

    <header class="header">

        <div class="header-inner">

            <a href="/main" class="logo">
                NOVA
            </a>

            <nav>

                <a href="/main">
                    MAIN
                </a>

                <a href="/about" class="active">
                    ABOUT
                </a>

            </nav>

        </div>

    </header>


    <main>

        <section class="intro">

            <p class="section-small">
                ABOUT NOVA
            </p>

            <h2>
                기술을 통해<br>
                더 나은 일상을.
            </h2>

            <p>
                NOVA MOBILE은 새로운 기술과 디자인을 통해<br>
                더 나은 모바일 경험을 만드는 가상의 스마트폰 기업입니다.
            </p>

        </section>

    </main>


</body>

</html>